.auth-container {
    margin-top: 5em;
    padding: 2em;
    border: 1px solid yellow;
    border-radius: 0.4em;
    box-shadow: 2px 4px 20px pink;
}

.login-col {
    border-left: 1px solid purple;
}