.auth-container {
    margin-top: 1em;
    padding: 2em;
    border: 5px solid skyblue;
    border-radius: 1.4em;
    box-shadow: 4px 15px 20px pink;
    background-color: lavenderblush
}

body {
    background-color: yellow;
}



h1 {
    padding: 0em;
    top: 50%;
    font-size: 50px;
    margin-left:30rem;
    color: rgb(238, 87, 180);
}

h6 {
    font-size: 1em;
    color: purple;
}

form {
    margin-left:25rem;

}

